{% extends 'form/base.html' %}
{% load static %}
{% block content %}

  <div class="container">
<!--    <div class="row">-->

      <div class="split left">
        <div class="centered">
          <a class="nav-item nav-link active" href="/candyfree">
              <div class="pixel"><p>_GET_DEMO_CANDY_SET_</p></div>
          </a>
            <p>or login and get all information.</p>
            <a class="nav-item nav-link active" href="/candy">
              <div class="pixel"><p>GET ALL</p></div>
          </a>
        </div>
      </div>

    <div class="split right">
      <div class="centered">
        <h2>It' candydendy</h2>
        <p>super service that knows all about fake candies.</p>
        <p>we provide data for money, and in order to prove that the data is there, we will provide part of the data</p>
      </div>
    </div>
<!--    </div>-->
  </div>
{% endblock %}